/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@import '_h5bp';

/*
 * Visual Style Guide styles
 * Remove if you prefer to use a CSS library, like Bootstrap
 */
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
  background: lighten( #ECE7D4, 7% );
}

.main-body-container {
  position: relative;
  overflow: hidden;
  padding: 50px 5%;
  min-height: 100%;
  float: left;
  width: 80%;

  .name {
    font-size: 2em;
    font-family: 'Merriweather', serif;
    font-weight: 700;
    line-height: 1.2em;
    position: relative;
    overflow: hidden;
    clear: both;
  }

  .email {
    position: relative;
    overflow: hidden;
    font-family: 'Merriweather', serif;
    font-size: 0.9em;
    margin: 10px 0;
    color: #F1512B;
    a {
      color:inherit;
      text-decoration: none;
      &:hover {
        color: inherit;
        text-decoration: none;
      }
    }
  }

  .main-content {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    position: relative;
    .content-divider {
      position: relative;
      overflow: hidden;
      clear: both;
      padding: 40px 0 0 0;
      width: 100%;
      float: left;
      display: none;
    }
    .content-item {
      font-size: 1em;
      line-height: 1.5em;
      position: relative;
      overflow: hidden;
      font-family: 'Merriweather', serif;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      margin: 1em 0;
      float: left;
      clear: both;
      &:hover {
        .content-item-icon {
          display: block;
        }
      }
      &[data-status="inactive"] {
        opacity: 0.2;
      }
      &[data-status="active"] {
        .content-item-title {
          color: #F1512B;
        }
        .content-item-description {
          display: block;
        }
      }
      strong {
        color: #3c3c3c;
      }
      .content-item-title {
        color: lighten( #3c3c3c, 7% );
        cursor: pointer;
        position: relative;
        overflow: hidden;
        float: left;
        &:hover {
          color: #F1512B;
        }
      }
      .content-item-icon {
        position: relative;
        overflow: hidden;
        float: left;
        margin-left: 10px;
        display: none;
      }
      .content-item-description {
        font-size: 0.9em;
        padding: 5px 0;
        display: none;
        float: left;
        clear: both;
        max-width: 600px;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
    }
  }

}

.speakerdeck-embed {
  position: relative;
  overflow: hidden;
  width: 400px;
}


#particles-js {
  position: absolute;
  overflow: hidden;
  float: right;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-Light.eot);
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/RobotoCondensed-Light.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Light.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Regular.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(/fonts/RobotoCondensed-Regular.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-Bold.eot);
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Bold'), url(/fonts/RobotoCondensed-Bold.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 300;
  src: url(/fonts/RobotoCondensed-LightItalic.eot);
  src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url(/fonts/RobotoCondensed-LightItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-LightItalic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 400;
  src: url(/fonts/RobotoCondensed-Italic.eot);
  src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url(/fonts/RobotoCondensed-Italic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-Italic.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: italic;
  font-weight: 700;
  src: url(/fonts/RobotoCondensed-BoldItalic.eot);
  src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url(/fonts/RobotoCondensed-BoldItalic.eot) format('embedded-opentype'), url(/fonts/RobotoCondensed-BoldItalic.woff) format('woff');
}
