@import 'components/_normalize';
@import '_skeleton';


body {
    background: #3CD3AD;

}
.main-container {
    position: relative;
    overflow: hidden;
    .hero-container {
        // height: 600px;
        position: relative;
        overflow: hidden;
        .image-container {
            position: absolute;
            top: 0;
            left: 0;
            right:0;
            bottom: 0;
            img {
                margin-top: -100px;
                width: 100%;
            }
        }
        .main-info-container {
            background: linear-gradient(180deg, RGBA(76, 184, 196, 0.85) 10%, RGBA(60, 211, 173, 0.95) 80%, RGBA(60, 211, 173, 1) 100% ); /* W3C */
            position: relative;
            widows: 100%;
            height: 100%;
            .main-title {
                font-size: 3em;
                text-align: center;
                line-height: 1.5;
                font-family: 'Lato', sans-serif;
                color: white;
                font-weight: 100;
                padding: 50px 0 50px 0;
            }
            .ios-template {
                margin: 0 auto;
                position: relative;
                text-align: center;
                img {
                    display: inline;
                    opacity: 0.5;
                    width: 150px;
                }
            }
            .main-copy {
                width: 700px;
                text-align: center;
                position: relative;
                margin: 0 auto;
                font-size: 3em;
                padding: 0 0 1em 0;
                color: white;
                font-family: 'Lato', sans-serif;
                font-weight: 300;
                margin-top: -10px;
                line-height: 1.2;
            }
            .form-container {
                position: relative;
                overflow: hidden;
                margin: 0 auto;
                width: auto;
                text-align: center;
                .input-field {
                    position: relative;
                    overflow: hidden;
                    display: inline-block;
                    .email-input {
                        width: 350px;
                        position: relative;
                        border: none;
                        background: RGBA(76, 184, 196, 0.65);
                        display: inline;
                        padding: 10px;
                        font-size: 1.2rem;
                        line-height: 1.5;
                        vertical-align: top;
                        height: auto;
                        border: 2px solid transparent;
                        color: white;
                        letter-spacing: 0.1rem;
                    }
                }
                .submit-button {
                    display: inline-block;
                    position: relative;
                    width: 100px;
                    // background: white;
                    border: 2px solid white;
                    color: white;
                    padding: 10px;
                    height: auto;
                    line-height: 1.5;
                    font-size: 1.2rem;
                    vertical-align: top;
                    margin-left: 20px;
                }
            }
        }
    }
}

.info-container {
    .info-container-title {
        font-size: 3em;
        color: white;
        font-family: 'Cardo', sans-serif;
        font-weight: 700;
        padding: 0.5em 0;
        letter-spacing: 0.1rem;

    }
    .info-container-text {
        font-family: 'Cardo', serif;
        color: white;
        font-size: 1.4em;
        line-height: 1.5;

    }
    position: relative;
    overflow: hidden;
    width: 750px;
    margin: 20px auto;
}

.footer {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
    .footer-links {
        text-align: center;
        position: relative;
        font-family: 'Lato', sans-serif;
        letter-spacing: 0.1em;
        .footer-link {
            display: inline;
            padding: 0 2em;
            color: #3c3c3c;
            opacity: 0.5;
        }

    }
    .footer-copyright {
        text-align: center;
        padding: 1em 0;
        color: #3c3c3c;
        opacity: 0.1;
        position: relative;
    }
}

canvas{
    display:block;
    vertical-align:bottom;
}

#particles-js{
  height:200px;
  width: 500px;
  position: relative;
  margin: 50px auto;
}
